# Development Environment Example
NEXT_PUBLIC_API_URL=https://devtools.cloudto.io/api
NEXT_PUBLIC_ENV=development

# Production Environment Example
# NEXT_PUBLIC_API_URL=https://tools.cloudto.io/api
# NEXT_PUBLIC_ENV=production
